<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0 10px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
    }

    p {
      color: #222;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333333;
      }

      p {
        color: #cccccc;
      }
    }
  </style>
</head>

<body>
  <p>
    <b>Hello [0],</b>
    <br>
    &nbsp;&nbsp;Looks like you've made a request to reset your password. To proceed with
    the request, please click the button below. Note that this link is valid
    for 1 hour. If you did not make this request, please ignore this email.
  </p>
  <a href="https://capstone.sakthisanthosh.in/reset-password.html?token=[1]" class="button">
    Reset your Password
  </a>
  <p>
    <b>Regards,</b>
    <br>
    Employee Grievance Redressal System - Presidio
  </p>
</body>

</html>
