<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0 10px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
    }

    p {
      color: #222;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333333;
      }

      p {
        color: #cccccc;
      }
    }
  </style>
</head>

<body>
  <p>
    <b>Hello [0],</b>
    <br>
    &nbsp;&nbsp;Congratulations! Your grievance has been assigned to an employee.
    You can now track the status of your grievance by logging into the system.
    Click the button below to get started:
  </p>
  <a href="https://capstone.sakthisanthosh.in/grievance.html?id=[1]" class="button">
    Message Now!
  </a>
  <p>
    <b>Regards,</b>
    <br>
    Employee Grievance Redressal System - Presidio
  </p>
</body>

</html>
