<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0 10px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
    }

    p {
      color: #222;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333333;
      }

      p {
        color: #cccccc;
      }
    }
  </style>
</head>

<body>
  <p>
    <b>Hello There,</b>
    <br>
    &nbsp;&nbsp;We've received your grievance successfully. It'll take around
    <b>24 hours</b> to process your grievance. We'll keep you updated on the
    status of your grievance.
  </p>
  <p>
    <b>Details:</b>
    <br>
  <ul>
    <li>
      <b>Title: </b>[0]
    </li>
    <li>
      <b>Created on: </b>[1]
    </li>
    <li>
      <b>Deadline: </b>[2]
    </li>
  </ul>
  <p>
    <b>Regards,</b>
    <br>
    Employee Grievance Redressal System - Presidio
  </p>
</body>

</html>
