<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0 10px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
    }

    p {
      color: #222;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333333;
      }

      p {
        color: #cccccc;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <p>
      <b>Hello [0],</b>
      <br>
      &nbsp;&nbsp;Your grievance has been successfully resolved. Thank you for
      your patience and time. You'll soon get a report of the grievance resolution.
    </p>
    <p>
      <b>Regards,</b>
      <br>
      Employee Grievance Redressal System - Presidio
    </p>
  </div>
</body>

</html>
