<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 10px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
    }

    p {
      color: #222;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333333;
      }

      p {
        color: #cccccc;
      }
    }
  </style>
</head>

<body>
  <p>
    <b>Hello [0],</b>
    <br>
    &nbsp;&nbsp;Welcome to Employee Grievance Redressal System - Presidio. We
    are excited to have you on board. As part of the onboarding process, we would
    like you to set up your account. Visit the log-in page and click "Forgot Password"
    to set up your password. If you have any questions, please reach out to
    your HR representative.
  </p>
  <a href="https://capstone.sakthisanthosh.in/" class="button">
    Get Started! 🚀
  </a>
  <p>
    <b>Regards,</b>
    <br>
    Employee Grievance Redressal System - Presidio
  </p>
</body>

</html>
